<footer>
  <div class="wrap">
    <div class="cols">
      <div>
        <h3>PdfEdit</h3>
        <ul>
          <li><a href="{{root}}index.html">Home</a></li>
          <li><a href="{{root}}download.html">Download</a></li>
          <li><a href="{{root}}whats-new.html">What's new</a></li>
          <li><a href="{{root}}screenshots.html">Screenshots</a></li>
        </ul>
      </div>
      <div>
        <h3>Downloads</h3>
        <ul>
          <li><a href="{{root}}download.html#windows">PdfEdit for Windows</a></li>
          <li><a href="{{root}}download.html#mac">PdfEdit for Mac</a></li>
          <li><a href="{{root}}download.html#web">PdfEdit for the web</a></li>
          <li><a href="{{root}}download.html#older">Older versions</a></li>
        </ul>
      </div>
      <div>
        <h3>Help</h3>
        <ul>
          <li><a href="{{root}}docs/index.html">Docs (user guide)</a></li>
          <li><a href="{{root}}tutorials/index.html">Tutorials</a></li>
          <li><a href="{{root}}docs/keyboard-shortcuts.html">Keyboard shortcuts</a></li>
          <li><a href="{{root}}docs/troubleshooting.html">Troubleshooting</a></li>
          <li><a href="https://github.com/dotnetappdev/pdfedit/issues/new">Report a problem</a></li>
        </ul>
      </div>
      <div>
        <h3>Project</h3>
        <ul>
          <li><a href="https://github.com/dotnetappdev/pdfedit">Source code on GitHub</a></li>
          <li><a href="https://github.com/dotnetappdev/pdfedit/releases">All releases</a></li>
          <li><a href="https://github.com/dotnetappdev/pdfedit/blob/devmain/LICENSE">MIT licence</a></li>
        </ul>
      </div>
    </div>
    <div class="legal">
      <span>© 2026 PdfEdit contributors · Free and open source under the MIT licence</span>
      <span data-updated></span>
    </div>
  </div>
</footer>
<dialog class="lightbox" data-lightbox aria-label="Screenshot">
  <form method="dialog"><button aria-label="Close">Close ✕</button></form>
  <img alt="" data-lightbox-img>
  <p data-lightbox-caption></p>
</dialog>
